# =========================
# LoadMaster PostgreSQL
# =========================
POSTGRES_DB=loadmaster
POSTGRES_USER=loadmaster
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_PORT=5432

# =========================
# Keycloak PostgreSQL
# =========================
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
#thay các password ở trên bằng password của bạn
KEYCLOAK_DB_PASSWORD=your-keycloak-db-password


# =========================
# Keycloak
# =========================
KEYCLOAK_ADMIN=admin
#thay các password ở trên bằng password của bạn
KEYCLOAK_ADMIN_PASSWORD=your-keycloak-admin-password
KEYCLOAK_PORT=8180

# =========================
# OAuth2 Service Clients
# =========================
LOADMASTER_BACKEND_CLIENT_SECRET=your-loadmaster-backend-client-secret
KEYCLOAK_USER_ADMIN_CLIENT_SECRET=your-keycloak-user-admin-client-secret

# =========================
# Development Bootstrap Admin
# =========================
DEV_ADMIN_EMAIL=admin@loadmaster.local
#thay các password ở trên bằng password của bạn
DEV_ADMIN_PASSWORD=your-dev-admin-password
DEV_ADMIN_FULL_NAME=LoadMaster Admin

#brevo email service configuration
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=loadmaster
OTP_HMAC_SECRET=

# Goong Maps REST API
GOONG_API_KEY=your-goong-rest-api-key
